* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    scroll-behavior: smooth; /* Enables smooth scrolling */
    background-image: url('../images/background.jpg');
    background-size: cover;                    /* Ensures the image covers the entire body */
    background-attachment: fixed;             
    background-position: center;               
    /* background-repeat: no-repeat;  */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(56, 52, 52);
    color: white;
    padding: 15px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo h1 {
    margin: 0;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
}

.nav-links a:hover {
    background-color: #555;
    border-radius: 5px;
}

.section {
    padding: 100px 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* #home {
    background-color: #f1f1f1;
}

#about {
    background-color: #ddd;
}

#features {
    background-color: #bbb;
}

#contact {
    background-color: #999;
} */

/* Additional Styling */
h2 {
    margin-bottom: 20px;
}
@media(max-width:800px){
    .nav-links{
        display: none;
    }
}
